html, body {
  height: 100%;
}

:root {
  --mits-bgc: #b1d5c8;
}

.mits-container {
  height: 520px;
  width: 680px;
  padding: 16px;
  background-color: var(--mits-bgc);
}

/* layer */
.mits-layer .layui-layer-title {
  background-color: #80a492;
}

.mits-layer .layui-layer-content {
  display: flex;
  justify-content: center;
  padding: 10px;
}
